.signupContainer{
   justify-content: center;
   align-items: center;
   padding: 20px;
   flex: 1;
   display: flex;
   background-color: green;
   width: 300px;
   margin-top: 20px;
   border-radius: 10px;
   color: white;

}

.container{
   justify-content: center;
   align-items: center;
   flex: 1px;
   display: flex;
   flex-direction: column;

}

.logo{
   height: 150px;
  width: 150px;
  margin: auto;
  margin-top: 50%;
  display: block;
}

.marker{
   background-color: red;
   border:1px solid red;
   width: 30px;
   height: 30px;
}